.body-bg {
  background-color: #222d32;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.mt_150 {
  margin-top: 150px;
}

.panel .panel-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

/* .lt_aside */
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #242D31;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
.lt_aside .brand {
  width: 180px;
  height: 50px;
  background-color: #487EA5;
  line-height: 50px;
  text-align: center;
}
.lt_aside .brand a {
  font-size: 24px;
  color: #fff;
}

.lt_aside .user {
  padding-top: 30px;
  height: 180px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.lt_aside .nav a {
  display: block;
  height: 40px;
  width: 180px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;
}

.lt_aside .nav .child a {
  padding-left: 63px;
}
.lt_aside .nav i {
  margin-right: 5px;
}
.lt_aside.hidemenu {
  left: -180px;
}

.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
/* .lt_main */
.lt_main {
  height: 2000px;
  padding-top: 50px;
  padding-left: 180px;
  transition: all 1s;
}
.lt_main .lt-topbar {
  width: 100%;
  height: 50px;
  background-color: #508CB8;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 180px;
  transition: all 1s;
}
.lt-topbar.hidemenu {
  padding-left: 0;
}
.lt_main .lt-topbar a{
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.lt_main.hidemenu {
  padding-left: 0;
}

.breadcrumb {
  margin-top: 20px;
}

.red {
  color: #A94442;
}

/* echart */
.echart_1,
.echart_2 {
  width: 48%;
  height: 400px;
}

/* table */
.table.table-bordered tr th,
.table.table-bordered tr td {
  text-align: center;
  /* 表格中垂直对齐方式 */
  vertical-align: middle;
}
